.header-main
{
    color: #61dafb;
    text-align: center;
    padding : 25px 0px;
    font-size: 1.6rem;
    letter-spacing: 0.100rem;
    font-weight: 500;
    width : 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Footer css */

/* .footerContainer {
    margin: 10px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restart-btn {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 5px 15px;
} */